#step-edit-btns {
    grid-area: edit;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {

    #step-edit-btns {
        justify-content: space-evenly;
    }

    #add-edit-step {
        width: 90vw;
    }

}
