:root {
    /* Blue colors */
    --color-astronaut-blue-50: #f2f8fd;
    --color-astronaut-blue-100: #e5eff9;
    --color-astronaut-blue-200: #c5def2;
    --color-astronaut-blue-300: #92c2e7;
    --color-astronaut-blue-400: #57a2d9;
    --color-astronaut-blue-500: #3286c5;
    --color-astronaut-blue-600: #226aa7;
    --color-astronaut-blue-700: #1d5587;
    --color-astronaut-blue-800: #1c4970;
    --color-astronaut-blue-900: #1c3e5e;
    --color-astronaut-blue-950: #13283e;

    /* Pinks */
    --color-cannon-pink-50: #f9f6f9;
    --color-cannon-pink-100: #f5eef3;
    --color-cannon-pink-200: #ebdfe9;
    --color-cannon-pink-300: #dcc5d7;
    --color-cannon-pink-400: #c6a0bc;
    --color-cannon-pink-500: #b282a4;
    --color-cannon-pink-600: #9b6789;
    --color-cannon-pink-700: #835371;
    --color-cannon-pink-800: #6d475e;
    --color-cannon-pink-900: #5d3e50;
    --color-cannon-pink-950: #36212d;

    /* greens */
    --color-shamrock-50: #eefbf5;
    --color-shamrock-100: #d5f6e6;
    --color-shamrock-200: #aeecd1;
    --color-shamrock-300: #79dcb8;
    --color-shamrock-400: #5ccca6;
    --color-shamrock-500: #20a97f;
    --color-shamrock-600: #138867;
    --color-shamrock-700: #0f6d54;
    --color-shamrock-800: #0e5744;
    --color-shamrock-900: #0d4739;
    --color-shamrock-950: #062821;

    /* Reds - warning, etc. */
    --color-flush-mahogany-50: #fcf4f4;
    --color-flush-mahogany-100: #fae6e6;
    --color-flush-mahogany-200: #f7d1d1;
    --color-flush-mahogany-300: #f0b1b1;
    --color-flush-mahogany-400: #e58484;
    --color-flush-mahogany-500: #d75c5c;
    --color-flush-mahogany-600: #c23d3d;
    --color-flush-mahogany-700: #a33232;
    --color-flush-mahogany-800: #872d2d;
    --color-flush-mahogany-900: #712b2b;
    --color-flush-mahogany-950: #3d1212;

    /* In app color constants for easy update */
    --bg-main: #0D1C2C;
    --nav-bg: #1C3E5E;
    --primary-text: rgb(233, 219, 230);
    --focus-border-color: var(--color-cannon-pink-400);
    --container-bg-color: var(--color-astronaut-blue-800);
    --btn-prim-bg: var(--color-cannon-pink-700);
    --btn-border: var(--color-cannon-pink-900);
    --btn-warning-bg: var(--color-flush-mahogany-500);
    --btn-success-bg: var(--color-shamrock-500);
    --btn-success-bord-col: var(--color-shamrock-700);
    --btn-success-bg-hover: var(--color-shamrock-400);
    --btn-success-bord-hover: var(--color-shamrock-200);
    --btn-success-glow-col: var(--color-shamrock-200);
    --form-bg: var(--color-astronaut-blue-300);

    --card-border: var(--color-astronaut-blue-500);


    /* In app measurement constants */
    --div-border-rad: 20px;

    box-sizing: border-box;
}

.small-only {
    display: none;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--color-cannon-pink-100);
    }
}

svg.fa-arrow-left:hover {
    filter: drop-shadow(0 0 1rem var(--color-cannon-pink-100));
}

img {
    object-fit: cover;
}

body {
    background-color: var(--bg-main);
}

main {
    padding: 2rem 2rem 4rem 2rem;
}

div {
    border-radius: 20px;
    padding: 1rem;
}

h1 {
    font-weight: 700;
    font-size: calc(2.375rem + 1.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
svg,
li {
    color: var(--primary-text);
}

pre code {
    color: var(--color-shamrock-400)
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.svg-inline--fa {
    height: 2rem;
}



/* Button styles */

.btn {
    display: flex;
    border-radius: 30px;
    gap: .5rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
    color: var(--primary-text);
}

.btn-big {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: var(--btn-prim-bg);
    border-color: var(--btn-border);

    & :hover {
        background-color: var(--color-cannon-pink-600);
    }

    &:disabled {
        border-color: var(--btn-border);
    }
}

.btn-success {
    background-color: var(--btn-success-bg);
    border-color: var(--btn-success-bord-col);

    &:hover {
        background-color: var(--btn-success-bg-hover);
        border-color: var(--btn-success-bord-hover);
        filter: drop-shadow(0 0 .5rem var(--btn-success-bg-hover));
    }
}

.btn.btn-primary {
    background-color: var(--btn-prim-bg);

    &:hover {
        background-color: var(--color-cannon-pink-600);
        border-color: var(--color-cannon-pink-400);
    }

    &:active {
        background-color: var(--color-cannon-pink-500);
        border-color: var(--color-astronaut-blue-300);
    }
}

.btn.btn-secondary {
    background-color: var(--color-astronaut-blue-900);
    border-color: var(--color-astronaut-blue-950);

    & :hover {
        background-color: var(--color-astronaut-blue-800);
        border-color: var(--color-astronaut-blue-700)
    }

    ;

    & :active {
        background-color: var(--color-astronaut-blue-700);
        border-color: var(--color-astronaut-blue-600);
    }
}

.btn.btn-warning {
    background-color: var(--color-flush-mahogany-600);
    border-color: var(--color-flush-mahogany-700);
}

.btn label {
    color: var(--color-cannon-pink-200);
}

.icon-btn {
    padding: 0;
}


.accordion-item {
    padding: 0;
}

/* Cards base styles */
.pattern-card {
    height: fit-content;
    width: fit-content;
    position: relative;
}

.pattern-card .icon-btn {
    z-index: 101;
}

.card-content {
    border: 1px solid var(--card-border);
    border-radius: var(--div-border-rad);
    background-color: var(--color-astronaut-blue-700);
    position: relative;
    width: 15rem;
    height: 20rem;
    aspect-ratio: 4 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .75rem;
    transition: .5s;

    &:hover {
        transform: scale(1.05);
        background-color: var(--color-astronaut-blue-600);
        z-index: 99;
        border: 2px solid;
    }
}

.pattern-card img {
    width: 13rem;
    height: 15rem;
    object-fit: cover;
    border-radius: calc(var(--div-border-rad) - .5rem);
    position: relative;

}

.pattern-card .icon-btn {
    position: absolute;
    top: 1.4rem;
    right: 1.6rem;
    z-index: 4;
}

.card-list {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

/* Form base styles */
form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 100vw;
}


.form-control,
.form-select {
    background-color: var(--color-astronaut-blue-300);
    border-color: var(--color-astronaut-blue-400);
    border-radius: var(--div-border-rad);
    color: var(--color-cannon-pink-950);

    &:focus,
    :focus-visible {
        color: var(--color-cannon-pink-950);
        background-color: var(--color-astronaut-blue-200);
        border: .25rem solid var(--focus-border-color);
    }
}

label {
    color: var(--primary-text);
}

textarea {
    height: 4rem;
    width: 100%;
    min-height: fit-content;
    scrollbar-color: var(--color-astronaut-blue-600) rgba(0, 0, 0, 0);
}

.form-floating>label {
    top: 1rem;
    left: 1rem;
    color: var(--color-cannon-pink-900);
}

.form-floating .form-control {

    &:focus,
    :focus-visible {
        background-color: var(--color-astronaut-blue-200);
        border: .25rem solid var(--color-cannon-pink-400);
    }
}

.btn-check:checked+.btn {
    background-color: var(--color-shamrock-500);
    border-color: var(--color-shamrock-200);
    box-shadow: 0 0 .4rem var(--color-shamrock-200);
}


fieldset {
    border: 1px solid rgba(233, 219, 230, 0.5);
    border-radius: var(--div-border-rad);
    display: flex;
    flex-wrap: wrap;
    min-width: 10rem;
}

legend {
    float: none;
    width: auto;
    margin-bottom: auto;
    margin-left: calc(var(--div-border-rad) + .5rem);
    padding: auto;
    color: rgba(233, 219, 230, 0.5);
}

/* Modal style overrides */
.modal-content {
    background-color: var(--color-astronaut-blue-700);
    border-radius: var(--div-border-rad);
    border: 2px solid var(--color-astronaut-blue-500);
}

.modal-header {
    border-radius: 0;
    border: none;
    padding: 0;
    color: var(--primary-text);
}

.modal-body {
    padding: 0;
}

/* Shared styles for login/register pages */

.auth-page,
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    margin-bottom: 2rem;
}

.auth-form input {
    width: 20rem;
}

.auth-page a {
    color: var(--color-cannon-pink-500);

    &:hover {
        color: var(--color-cannon-pink-400);
    }
}

/* Card list specific media queries */

@media screen and (max-width: 1076px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {

    .card-list {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .hide-in-small {
        display: none;
    }

    .small-only {
        display: block;
    }
}

@media screen and (max-width: 564px) {
    .card-list {
        grid-template-columns: 1fr;
    }

    .card-content {
        width: 80vw;
    }

    .pattern-card img {
        width: 70vw;
        height: calc(70vw * (15 / 13));
    }
}
