:root {
    /* Blue colors */
    --color-astronaut-blue-50: #f2f8fd;
    --color-astronaut-blue-100: #e5eff9;
    --color-astronaut-blue-200: #c5def2;
    --color-astronaut-blue-300: #92c2e7;
    --color-astronaut-blue-400: #57a2d9;
    --color-astronaut-blue-500: #3286c5;
    --color-astronaut-blue-600: #226aa7;
    --color-astronaut-blue-700: #1d5587;
    --color-astronaut-blue-800: #1c4970;
    --color-astronaut-blue-900: #1c3e5e;
    --color-astronaut-blue-950: #13283e;

    /* Pinks */
    --color-cannon-pink-50: #f9f6f9;
    --color-cannon-pink-100: #f5eef3;
    --color-cannon-pink-200: #ebdfe9;
    --color-cannon-pink-300: #dcc5d7;
    --color-cannon-pink-400: #c6a0bc;
    --color-cannon-pink-500: #b282a4;
    --color-cannon-pink-600: #9b6789;
    --color-cannon-pink-700: #835371;
    --color-cannon-pink-800: #6d475e;
    --color-cannon-pink-900: #5d3e50;
    --color-cannon-pink-950: #36212d;

    /* greens */
    --color-shamrock-50: #eefbf5;
    --color-shamrock-100: #d5f6e6;
    --color-shamrock-200: #aeecd1;
    --color-shamrock-300: #79dcb8;
    --color-shamrock-400: #5ccca6;
    --color-shamrock-500: #20a97f;
    --color-shamrock-600: #138867;
    --color-shamrock-700: #0f6d54;
    --color-shamrock-800: #0e5744;
    --color-shamrock-900: #0d4739;
    --color-shamrock-950: #062821;

    /* Reds - warning, etc. */
    --color-flush-mahogany-50: #fcf4f4;
    --color-flush-mahogany-100: #fae6e6;
    --color-flush-mahogany-200: #f7d1d1;
    --color-flush-mahogany-300: #f0b1b1;
    --color-flush-mahogany-400: #e58484;
    --color-flush-mahogany-500: #d75c5c;
    --color-flush-mahogany-600: #c23d3d;
    --color-flush-mahogany-700: #a33232;
    --color-flush-mahogany-800: #872d2d;
    --color-flush-mahogany-900: #712b2b;
    --color-flush-mahogany-950: #3d1212;



    --bg-main: #0D1C2C;
    --nav-bg: #1C3E5E;
    --primary-text: rgb(233, 219, 230);
    --btn-prim-bg: var(--color-cannon-pink-700);
    --btn-border: var(--color-cannon-pink-900);
    --btn-warning-bg: var(var(--color-flush-mahogany-500))
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-main);
}

main {
    padding: 2rem;
    padding-bottom: 4rem;
    height: 90vh;
    /* height: calc(100vh - 4rem);
    position: fixed;
    top: 0; */
}

div {
    border-radius: 20px;
    padding: 1rem;
}

h1 {
    font-weight: 700;
    font-size: calc(2.375rem + 1.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
svg,
li {
    color: var(--primary-text);
}

pre code {
    color: var(--color-shamrock-400)
}



.svg-inline--fa {
    height: 2rem;
}

#saved-tabs {
    display: flex;
    justify-content: space-between;
}

#saved-tabs h3,
a {
    color: rgba(233, 219, 230, 0.7);

    & :hover {
        color: var(--color-cannon-pink-50)
    }
}

#saved-tabs a.active {
    color: var(--primary-text);
    text-decoration: underline;
}

.btn {
    display: flex;
    border-radius: 30px;
    gap: .5rem;
    width: fit-content;
    align-items: center;
    color: var(--primary-text);
}

.btn-primary {
    background-color: var(--btn-prim-bg);
    border-color: var(--btn-border);
}

.btn.btn-secondary {
    background-color: var(--color-astronaut-blue-900);
    border-color: var(--color-astronaut-blue-950);

    & :hover {
        background-color: var(--color-astronaut-blue-800);
        border-color: var(--color-astronaut-blue-700)
    }

    ;

    & :active {
        background-color: var(--color-astronaut-blue-700);
        border-color: var(--color-astronaut-blue-600);
    }
}

.btn.btn-warning {
    background-color: var(--color-flush-mahogany-600);
    border-color: var(--color-flush-mahogany-700);
}

.btn label {
    color: var(--color-cannon-pink-200);
}

.accordion-item {
    padding: 0;
}


/* Form base styles */
