#stitch-counter {
    background-color: var(--btn-prim-bg);
    border-color: var(--btn-border);
    justify-self: end;
    gap: 0;
    width: 15rem;
    justify-content: end;
    padding-left: 1rem;
}

#count-steps {
    background-color: var(--color-cannon-pink-700);
    border: none;
    width: 4rem;
    text-align: end;
    height: fit-content;
    padding: 0;
    color: var(--color-cannon-pink-400);

    font-size: 2rem;

    &:focus {
        background-color: var(--color-cannon-pink-500);
        color: var(--color-cannon-pink-300);
        box-shadow: inset .25rem .25rem .25rem #83537195;
    }
}

#add-stitches {
    padding: 0;

    &:hover {
        transform: scale(1.1);
    }
}

#add-stitches:hover,
#add-stitches>svg:hover,
#stitch-counter>h3:hover,
#add-stitches>svg:hover {
    background-color: var(--btn-prim-bg);
}

#add-stitches:hover path {
    background-color: none;
    /* transform: scale(1.1); */
    filter: drop-shadow(0 0 1rem var(--color-shamrock-50)) drop-shadow(0 0 .25rem var(--bg-main));
}

h3 {
    font-size: calc(2.3rem + .6vw);
    margin: 0;
    color: var(--color-cannon-pink-100);
    margin-right: auto;
}
