#saved-tabs {
    position: fixed;
    top: 0;
    display: flex;
    width: calc(100vw - 4rem);
    z-index: 100;
}

#mobile-dropdown {
    position: fixed;
    top: 0;
    z-index: 100;
}

.saved-and-mine {
    margin-top: calc(1.8rem + .6vw);
}


@media screen and (max-width: 768px) {
    #saved-tabs {
        display: none;
    }
}
