#project-layout {
    height: calc(100vh - 4rem);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 10fr 60px;
    grid-template-areas: "head head head head" "steps steps steps notes" "edit edit . stitch";
    gap: 2rem;
}

#project-header {
    grid-area: head;
    height: 9rem;
}

#steps {
    grid-area: steps;
    padding: 0;
    overflow: auto;
    scrollbar-color: var(--color-astronaut-blue-500) var(--bg-main);
}

#notes-container {
    padding: 0;
}

#notes-section {
    grid-area: notes;
    height: calc(100vh - 25rem);
    margin-bottom: 1rem;
}

#stitch-counter {
    grid-area: stitch;
}

#step-edit-btns {
    grid-area: edit;
    padding: 0;
    display: flex;
    justify-content: start;
    gap: 1rem;
}

#add-edit-step {
    z-index: 50;
    position: fixed;
    bottom: 3rem;
    width: 70vw;
}

#display-notes {
    display: none;
}

@media screen and (max-width: 768px) {

    #project-layout {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "head head head" "steps steps steps" "edit edit notes-btn" "back stitch stitch";
        padding: 1rem;
        column-gap: 0;
    }

    #back-btn {
        grid-area: back;
    }

    #display-notes {
        display: block;
        grid-area: notes-btn;
        justify-self: end;
    }

    #notes-container {
        position: absolute;
        bottom: 3rem;
        animation: 1s 1 forwards notes-slide-in;
    }

    #notes-container.hidden {
        transform: translateY(100vh);
        transition: ease-in;
    }

    #notes-section {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        width: calc(100vw - 2rem);
        height: fit-content;
        transition: ease-in;
        margin-bottom: 0;
    }

    /* TODO get animation to work in reverse for hiding notes */

    @keyframes notes-slide-in {
        from {
            transform: translateY(100vh);
        }

        to {
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 768px) {
    #add-edit-step {
        width: calc(100vw - 2rem);
    }

    #step-edit-btns {
        justify-content: space-evenly;
    }
}
