.accordion-body {
    padding: 0;
}

.accordion {
    border-color: var(--color-astronaut-blue-700);
}

.accordion-button {
    background-color: var(--color-astronaut-blue-700);
    color: var(--primary-text);
    border-color: var(--color-astronaut-blue-300);

    &:not(.collapsed) {
        background-color: var(--color-astronaut-blue-800);
        color: var(--primary-text);
    }

    ;

    &::after {
        color: var(--primary-text);
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ebdfe9'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

    }

    ;

    &:focus {
        border-bottom-color: var(--color-astronaut-blue-300);
    }

    ;
}

.accordion-item {
    background-color: var(--color-astronaut-blue-600);
    border-color: var(--color-astronaut-blue-600);
}

.accordion-collapse {
    padding: 0;
}

table {
    width: 100%;
}

td {
    padding: .5rem;

    &:first-child {
        width: 4rem;
        border-right: 1px solid;
        text-align: center;
    }

    &:last-child {
        padding: 1rem;
        width: 100%;
    }
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--color-astronaut-blue-300);
}

tr * {
    color: var(--primary-text);
}

.directions>p {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .accordion {
        width: calc(100vw - 3rem);
    }
}
