.filter-list {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    #cat-filters {
        gap: .5rem;
        justify-content: space-between;
    }

    #cat-filters>div {
        padding: 0;
    }
}
