#name-auth-fav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

h1 {
    margin-right: auto;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    #name-auth-fav {
        display: grid;
        grid-template-columns: 1fr 1rem;
        grid-template-areas: "name name" "author fav";
        gap: 0;
        padding: 0;
    }

    h1 {
        grid-area: name;
    }

    h2 {
        grid-area: author;
    }

    .icon-btn {
        grid-area: fav;
    }
}
