li.my-ptrn {
    background-color: var(--color-astronaut-blue-900);
    padding: 2rem;
    display: flex;
    margin-bottom: 2rem;
    border-radius: var(--div-border-rad);
    border: 1px solid var(--card-border);
}

.my-ptrn>img {
    min-height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: calc(var(--div-border-rad) - .5rem);
    border: var(--std-div-border);
}

ul.pattern-vars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
}

.pattern-vars>li:last-child {
    margin-bottom: .5rem;
}

.ptrn-container {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.my-ptrn-name {
    margin: 0 auto .5rem 0;
}

.edit-links {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    gap: var(--std-pad);
}

@media screen and (max-width: 890px) {
    ul.pattern-vars {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 790px) {
    .my-ptrn>img {
        display: none;
    }

    .ptrn-container {
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    ul.pattern-vars {
        grid-template-columns: 1fr;
    }
}
