nav {
    background-color: var(--nav-bg);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100lvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    height: 3rem;
    z-index: 100;
    border-top: var(--nav-border)
}

nav a {
    color: var(--primary-text);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .2s;

    &:hover,
    &:focus {
        color: var(--color-cannon-pink-100);
        filter: drop-shadow(0 0 .5rem var(--color-cannon-pink-300)) drop-shadow(0 0 .1rem var(--bg-main));
    }

    &:active {
        color: var(--color-cannon-pink-50);
        filter: drop-shadow(0 0 .5rem var(--color-shamrock-100)) drop-shadow(0 0 .1rem var(--bg-main));
    }
}
