#project-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "back name name" "size . yarn";
    padding: 0;
}

#project-header h1,
h2 {
    margin: 0;
}

h1 {
    grid-area: name;
    text-align: end;
}

#size-head {
    grid-area: size;
}

#yarn-head {
    grid-area: yarn;
    text-align: end;
}

h2 {
    color: rgb(from var(--primary-text) r g b / 70%);
    font-weight: 200;
}

svg.fa-arrow-left {
    &:hover {
        color: var(--color-cannon-pink-100);
    }
}

@media screen and (max-width: 768px) {
    #project-header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name name" "size yarn";
    }
}
